* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
.mainsection {
  width: 100%;
  padding: 10% 36%;
}
.subsection {
  width: 100%;
  padding: 10% 10%;
}
#home {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.main_heading {
  font-size: 40px;
  color: white;
}
.banner_paragraph {
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
}
.donate-btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: salmon;
}

#donate-today {
  background-color: #ffffff;
  text-align: center;
}
#donate-today h2,
#donate-today p {
  text-align: center;
}

.flexible_container {
  display: flex;
  width: 100%;
}
.donation-amount {
  display: inline-block;
  text-decoration: none;
  width: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: darkgray;
  border-radius: 5px;
  text-align: center;
  margin-left: 5%;
  margin-top: 4%;
}
.active-amount {
  display: inline-block;
  text-decoration: none;
  width: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: thistle;
  color: salmon;
  border: 2px solid salmon;
  border-radius: 5px;
  text-align: center;
  margin-left: 5%;
  margin-top: 4%;
}
.amount_form {
  width: 100%;
  margin-top: 10px;
}
.amount_form .tk_poriman {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 10px 20px;
}

#plans {
  background-color: white;
  text-align: center;
}
#plans p {
  margin: 10px 0px;
}
.donation-paln {
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  margin-left: 6%;
  text-align: left;
  background-color: azure;
  padding: 20px 20px;
  margin-top: 10px;
}

.donation-paln h4 {
  margin: 7px 0px;
}
.donation-paln p {
  text-align: justify;
}

.half_inner {
  width: 50%;
}
.req_image {
  width: 70%;
  text-align: center;
}
#updates {
  text-align: center;
}
.update {
  background-color: rgb(241, 163, 18);
  width: 100%;
  padding: 80px 0px;
  margin-top: 20px;
}
.form-update .em_input {
  border: none;
  background-color: gray;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
    color: white;
  height: 40px;
}
.update-btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  margin-top: 20px;
  padding: 13px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background-color: salmon;
}
#footer{
    text-align: center;
    background-color: #000000;
}
#footer h3{
    color: orangered;
}
#footer p{
    color: #ffffff;
}